<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block title %}{% endblock title %}</title>
        <!-- Core theme CSS (includes Bootstrap)-->
        {% load static %}
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="{% url 'postlist' %}">Новости</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        {% if cats %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true">Категории</a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown" data-bs-popper="none">
                                {% for c in cats %}
                                    <li><a class="dropdown-item" href="{{ c.get_absolute_url }}">{{ c.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% endif %}
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'postlist_search' %}">Поиск</a></li>
                        {% if user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true">Создать</a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown" data-bs-popper="none">
                                <li><a class="dropdown-item" href="{% url 'news_create' %}">Создать новость</a></li>
                                <li><a class="dropdown-item" href="{% url 'art_create' %}">Создать статью</a></li>
                            </ul>
                        </li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'user_edit' %}">Редактировать профиль</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'account_logout' %}">Выйти</a></li>
                        {% else %}
                            <li class="nav-item"><a class="nav-link" href="{% url 'account_signup' %}">Регистрация</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'account_login' %}">Вход</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                   {% block content %}
                   {% endblock content %}
                </div>
            </div>
            {% if page_obj.has_other_pages %}
            <div class="row">
                {# Добавляем пагинацию на страницу #}
                <div class="col-lg-12 text-center">
                    {# Информация о предыдущих страницах #}

                    {% if page_obj.has_previous %}
                        <a href="?{% url_replace page=page_obj.previous_page_number %}">&lt;</a>
                        <a href="?{% url_replace page=1 %}">1</a>
                        {% if page_obj.previous_page_number != 1 %}
                            ...
                            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
                       {% endif %}
                   {% endif %}

                    {# Информация о текущей странице #}
                    {{ page_obj.number }}

                    {# Информация о следующих страницах #}
                    {% if page_obj.has_next %}
                        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
                        {% if paginator.num_pages != page_obj.next_page_number %}
                            ...
                            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
                        {% endif %}
                        <a href="?{% url_replace page=page_obj.next_page_number %}">&gt;</a>
                    {% endif %}
                </div>
            </div>
            {% endif %}
        </div>
        {% if user.is_authenticated %}
        <div class="row">
            <div class="col-lg-12 text-center">
                {% if is_not_author %}
                    <button> <a href="{% url 'become_an_author' %}"> Хочу стать автором! </a> </button>
                {% endif %}
            </div>
        </div>
        {% endif %}
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
