{% extends 'news/default.html' %}
{% load custom_filters %}
{% load custom_tags %}

{% block title %}
Новости
{% endblock title %}

{% block content %}
    {% if current_cat %}
        {% if user.is_authenticated %}
            <h1>Категория: {{ current_cat.name }}</h1>
            {% if already_subscribed %}
                <button> <a href="{% url 'unsubscribe' current_cat.pk %}"> Отписаться от обновлений. </a> </button>
            {% else %}
                <button> <a href="{% url 'subscribe' current_cat.pk %}"> Подписаться на обновления! </a> </button>
            {% endif %}
        {% else %}
            <h1>Категория: {{ current_cat.name }}</h1>
        {% endif %}
    {% else %}
       <h1>Все новости</h1>
    {% endif %}


   {% block search %}
   {% endblock search %}

   <hr>
   {% if posts %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Дата публикации</th>
                    <th scope="col">Рейтинг</th>
                    <th scope="col">Заголовок</th>
                    <th scope="col">Текст</th>
                </tr>
            </thead>
            <tbody>


           {% for p in posts %}
           <tr>
               <th>{{ p.date_create|date:'d.m.Y H:i:s' }}</th>
               <td>{{ p.rating }}</td>

               <td><a href="{% url 'news_detail' p.pk %}">{{ p.header|censor }}</a></td>
               <td>{{ p.text|truncatewords:20|censor }}</td>
           </tr>
           {% endfor %}

            </tbody>
        </table>
   {% else %}
       <h2>Публикации отсутствуют!</h2>
   {% endif %}

{% endblock content %}